<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="false">
		<supportedRuntime version="v4.0"
		  sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="CafeDb"
			 connectionString="Server=P1M2\SQLEXPRESS01;Database=QLCafe;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
